<div class="container-answer hidden-answer">
  <div class="answer">答え</div>
    <% a.each_with_index do |question_answer, index| %>
      <% if index == 0 %>
        <div class="slide active-slide">
          <%= simple_format(question_answer.answer) %>
        </div>
      <% else %>
        <div class="slide">
          <%= simple_format(question_answer.answer) %>
        </div>
      <% end %>
    <% end %>
</div>
