<div class="container-question">
  <div class="question">問題</div>
    <% a.each_with_index do |question_answer, index| %>
      <% if index == 0 %>
        <div class="slide active-slide">
          <p><%= simple_format(question_answer.question) %></p>
        </div>
      <% else %>
        <div class="slide">
          <p><%= simple_format(question_answer.question) %></p>
        </div>
      <% end %>
    <% end %>
</div>
