<div class="wrapper-workbook-slider">
  <div class="container container-workbook-slider text-center">

    <div class="container-question">
      <div class="question">問題</div>
        <% @workbook.question_answers.each_with_index do |question_answer, index| %>
          <% if index == 0 %>
            <div class="slide active-slide">
              <p><%= question_answer.question %></p>
            </div>
          <% else %>
            <div class="slide">
              <p><%= question_answer.question %></p>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="container container-slide-btn">
      <div class="row slide-btn">
          <div class="btn btn-info prev-btn change-btn col-md-3">
            前へ
          </div>
          <div class="btn btn-info answer-btn col-md-offset-1 col-md-4">
            答えを表示する
          </div>
          <div class="btn btn-info next-btn change-btn col-md-offset-1 col-md-3">
            次へ
          </div>
      </div>
    </div>

    <div class="container-answer hidden-answer">
      <div class="answer">答え</div>
        <% @workbook.question_answers.each_with_index do |question_answer, index| %>
          <% if index == 0 %>
            <div class="slide active-slide">
              <%= question_answer.answer %>
            </div>
          <% else %>
            <div class="slide">
              <%= question_answer.answer %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<script>
$(function(){
  $(document).on('click', '.change-btn', function(){
    var $displaySlide = $('.active-slide');
    $displaySlide.removeClass('active-slide');
    if ($(this).hasClass('next-btn')) {
      $displaySlide.next().addClass('active-slide');
    } else {
      $displaySlide.prev().addClass('active-slide');
    }
  });

  $(document).on('click', '.answer-btn', function(){
    var $hiddenAnswer = $('.hidden-answer');
    $hiddenAnswer.removeClass('hidden-answer');
  });



});
</script>
