<head>
     <meta charset='utf-8' />
     <link href='../fullcalendar.css' rel='stylesheet' />
     <link href='../fullcalendar.print.css' rel='stylesheet' media='print' />
     <script src='../lib/moment.min.js'></script>
     <script src='../lib/jquery.min.js'></script>
     <script src='../fullcalendar.min.js'></script>
     <script src='../lang/ja.js'></script>
 </head>
<div class="wrapper">
  <div class="container text-center container-background">
    <div class="container-calendar">
      <div id="calendar"></div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {

  create_event = function(title, start, end){
    $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
      var token;
      if (!options.crossDomain) {
        token = $('meta[name="csrf-token"]').attr('content');
        if (token) {
          return jqXHR.setRequestHeader('X-CSRF-Token', token);
        }
      }
    });

  $.ajax({
    type: "post",
    url: "/events/create",
    data: {
      title: title,
      start: start.toISOString(),
      end: end.toISOString()
    }
  }).done(function(data){
    alert("登録しました!");
    }).fail(function(data){
    alert("登録できませんでした。");
    });
  };

  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
      navLinks: true,
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
        var title = prompt('イベントを追加');
        var eventData;
        if (title) {
          eventData = {
            title: title,
            start: start,
            end: end
          };
          $('#calendar').fullCalendar('renderEvent', eventData, true);
          $('#calendar').fullCalendar('unselect');
          create_event(title, start, end);
        }
      },
      height: 800,
      timeFormat: 'H:mm',
      axisFormat: 'H:mm', //時間軸に表示する時間の表示フォーマットを指定する
      editable: true, // 変更可にする
      eventLimit: true, // allow "more" link when too many events
      eventLimitClick:'popover',
      events:[
        {
          title: 'All Day Event',
          start: '2018-09-01T06:30:00',
          end: '2018-09-07T17:47:00'
        },
      ],
  });
});

</script>
<style>

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
    .fc-sun, .fc-sat {
        color: #FF0000;
    }
</style>
