<div class="wrapper wrapper-uers-index">
  <div class="container text-center container-background">
    <h1>ユーザー一覧<h1>
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-8 col-md-offset-4">
            ユーザー名 : <%= link_to "#{user.name}", user_path(id: user.id) %>
          </div>
        <% end %>
      </div>


  </div>
</div>
