<div class="wrapper-uers-index">
  <div class="container">
    <h1>ユーザー一覧<h1>
      <% @users.each do |user| %>
        <div>
          <p>ユーザーID: <span><%= user.id %></p>
          <%= link_to user_path(id: user.id) do %>
            <%= user.name %>
          <% end %>
      </div>
      <% end %>


  </div>
</div>
