
<div class="wrapper-index">
  <div class="container text-center">
    <h1>暗記アプリ　Ankey</h1>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to "ログイン", "#", class: "btn btn-info btn-index" %>
      </div>
      <div class="col-md-3">
        <%= link_to "新規登録", signup_path, class: "btn btn-info btn-index" %>
      </div>
    </div>
  </div>
</div>
