
<div class="wrapper">
  <div class="container text-center">
    <div class="container-pages-index">
      <% if logged_in? %>
        <div class="clock">
            <p><span id="time"></span></p>
            <p><span id="year"></span></p>
        </div>

      <% else %>

      <div class="pages-index-show pages-index-logo">
          <h1>
            Ankey
          </h1>
      </div>

      <div class="pages-index-show pages-index-text">
          <p>
            This application is the most useful assistant for study.
          </p>
      </div>

      <div class="row text-center pages-index container-background-black">
        <h2>Welcome To Ankey</h2>
          <p>This application is the most useful assistant for study.</p>
          <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 btn pages-index-btn pages-index-login-btn">
            Log In
          </div>
          <%= render 'sessions/user_login_form' %>
          <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 btn pages-index-btn pages-index-signup-btn">
            Sign Up
          </div>
          <%= render 'users/user_signup_form' %>
      </div>

      <% end %>

    </div>
  </div>
</div>


<script>
function set2fig(num) {
   // 桁数が1桁だったら先頭に0を加えて2桁に調整する
   var ret;
   if( num < 10 ) { ret = "0" + num; }
   else { ret = num; }
   return ret;
}
// 時間表示
function nowTime() {
   var nowTime = new Date();
   var nowHour = set2fig( nowTime.getHours() );
   var nowMin  = set2fig( nowTime.getMinutes() );
   var nowSec  = set2fig( nowTime.getSeconds() );
   var msg = nowHour + ":" + nowMin + ":" + nowSec;
   document.getElementById("time").innerHTML = msg;

   var nowYear = nowTime.getFullYear();
   var nowMonth = nowTime.getMonth();
   var mNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
   var monthEn = mNames[nowMonth];
   var nowDay = nowTime.getDate();
   var nowWeek = nowTime.getDay();
   var wNames = ['Sun.', 'Mon.', 'Tues.','Wed', 'Thurs.', 'Fri.', 'Sat.'];
   var weekEn = wNames[nowWeek];
   var nowDate = weekEn + " " + monthEn + " " + nowDay + " " + nowYear;
   document.getElementById("year").innerHTML = nowDate;
}
setInterval('nowTime()',1000);
</script>
<script>

$.when (
  $('.wrapper').parents('body').css('background-color', '#191919').css('background-image', 'none' ),
  $('.pages-index-logo').fadeIn(2000),
  $('.pages-index-logo').fadeOut(2000)
)
.done(function() {
  $.when (
    $('.pages-index-text').fadeIn(2000),
    $('.pages-index-text').fadeOut(1500)
  )
  .done(function() {
    $('.wrapper').parents('body').css('background-image', ''),
    $('.wrapper').parents('body').css('background-color', 'none'),
    $('.pages-index').fadeIn(400)
  });
});
</script>
<script>
$(function(){
  $(document).on('click', '.pages-index-login-btn', function(){
    $('#pages-login-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#pages-login-form-modal').fadeOut();
  });
});
$(function(){
  $(document).on('click', '.pages-index-signup-btn', function(){
    $('#pages-singup-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#pages-singup-form-modal').fadeOut();
  });
});





</script>
