/**** ミックイン ****/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizuing:border-box;
  box-sizing:       border-box;
}
@font-face {
  font-family: "digital";
  font-weight: bold;
  src: font-url('digital.woff') format('woff');
}


/**** 基本設定　****/
body {
  margin: 0;
  padding: 0;
  background-image: url('flash_card.jpg');
  background-size: cover;
  height: 100%;
}
.wrapper-index {
  padding-top: 270px;
}
.wrapper {
  height: 100%;
}

.container-background {
  background-color: rgba(248, 248, 248, 0.9);
  min-height: 98vh;
}

.sen {
  border: 1px solid red;
}
/**** ヘッダー(header) ****/
header {
}
#logo {
  float: left;
  margin-right:40px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px  rgba(100, 100, 100, 1);
  &:hover {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 0 rgba(100, 100, 100, 1);
  }
}
.navright {
  font-size: 15px;
  margin-top: 5px;
  margin-left: 15px;
}

/**** フッター(footer) ****/
footer {
.footer-logo {
  color: white;
}
}


/**** トップページ(index) ****/
#time {
  font-size: 120px;
  font-family: "digital";
  color: #47d4ff;
  text-shadow: 0 0 20px #47d4ff,0 0 25px #47d4ff;
}
#year {
  font-size: 80px;
  font-family: "digital";
  color: #47d4ff;
  text-shadow: 0 0 20px #47d4ff,0 0 25px #47d4ff;
}
.time-back {
  padding: 60px 0 60px 0;
  background-color: black;
}
.row-login-signup {

  .btn-index {
    padding: 10px 50px;
    font-size: 20px;
  }
}

/*** ユーザー関係 ***/
/*** ユーザー一覧(user-index) ***/
.container-user-index {
  margin: 80px 0 0 0;;

  h1 {
    margin-bottom: 30px;
    span {
      text-shadow: 2.5px 2.5px 0 rgba(100, 100, 100, 0.6);
      position:relative;
      &:after {
        content: "";
        width:100%;
        height:4px;
        position: absolute;
        left: 0;
        bottom: -5px;
        background: linear-gradient(to right, #636363, rgba(255,255,255,0) 100%);
      }
    }
  }

  .user-data-name {
    font-size: 15px;
    color: white;
    background: linear-gradient(to bottom, #5F6160, rgba(120,120,120,0.5) 100%);
    padding: 5px;
    border-left: 1px solid white;
  }

  .user-index {
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    a {
      color: black;
    }
    .user-data {
      padding: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
    }
    .user-data-left-border {
      border-left: 1px solid #e0e0e0;
    }
    .user-data-right-border {
      border-right: 1px solid #e0e0e0;
    }
    img.user-index-img {
      width: 80px;
      border-radius: 5px;
      box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);
    }
  }
}

/**** ユーザー詳細(user-show) ****/
.container-user-show {
  padding: 80px;
  /*** ユーザー情報　***/
  .user-show {
    padding: 20px 0;
    .user-name-show {
      margin-top: 15px;
      font-size: 30px;
    }
    .user-img-show img {
        border-radius: 10px;
        box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);
    }
  }
    /*** MyWorkbooks ***/
    h2 {
      margin-bottom: 30px;
      text-align: center;
      span {
        text-shadow: 2.5px 2.5px 0 rgba(100, 100, 100, 0.6);
        position:relative;
        &:after {
          content: "";
          width:100%;
          height:4px;
          position: absolute;
          left: 0;
          bottom: -5px;
          background: linear-gradient(to right, #636363, rgba(255,255,255,0) 100%);
        }
      }
    }

    .mybooks-show {
      margin: 0 0px;
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      .workbooks-data-name {
        font-size: 15px;
        color: white;
        background: linear-gradient(to bottom, #5F6160, rgba(120,120,120,0.5) 100%);
        padding: 5px;
        border-left: 1px solid white;
      }
      .workbooks-data {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
      }
      .workbooks-data-left-border-none {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;
      }
      .workbooks-right-border {
        border-right: 1px solid #e0e0e0;
      }
      img.workbooks-user-img {
        width: 80px;
        border-radius: 50px;
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
      }
  }
}

/**** 問題集一覧(workooks-index) ****/
.container-workbook-index {
  padding-top: 30px;

  h1 {
    margin-bottom: 30px;
    text-align: center;
    span {
      text-shadow: 2.5px 2.5px 0 rgba(100, 100, 100, 0.6);
      position:relative;
      &:after {
        content: "";
        width:100%;
        height:4px;
        position: absolute;
        left: 0;
        bottom: -5px;
        background: linear-gradient(to right, #636363, rgba(255,255,255,0) 100%);
      }
    }
  }

  .workbook-index-form {
    margin: 10px 0 20px 0;
  }
  .workbook-index-search {
    margin: 10px 0 20px 0;
    .search-form {
      width: 300px;
      height: 40px;
      margin: 10px auto 10px auto;
    }
  }
  .workbook-index {
    margin: 0 0px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    .workbooks-data-name {
      font-size: 15px;
      color: white;
      background: linear-gradient(to bottom, #5F6160, rgba(120,120,120,0.5) 100%);
      padding: 5px;
      border-left: 1px solid white;
    }
    .workbooks-data {
      padding: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
    }
    .workbooks-data-left-border-none {
      padding: 5px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
    }
    img.workbooks-user-img {
      width: 80px;
      border-radius: 50px;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
    }
  }

  .workbooks-menu-list {
      display: none;
    ul {
      padding: 0;

      li {
      list-style-type: none;
      border-bottom: 1px solid #e0e0e0;
      }
    }
  }
}



.fa-star {
  font-size: 20px;
  color: yellow;
  text-shadow:
    black 1px 1px 0, black -1px -1px 0, /* 右下、左上 */
    black -1px 1px 0, black 1px -1px 0, /* 右上、左下 */
    black 0px 1px 0, black 0 -1px 0, /* 右、左*/
    black -1px 0 0, black 1px 0 0; /* 上、下 */
}
.fa-star-o {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/**** 問題集作成モーダル****/

#workbook-new-form-modal, #workbook-edit-form-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 100;
}
.container-workbook-new {
  h1, .form-group {
    color: white;
  }
  .modal-form-workbook-new {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid white;
    width: 50%;
    //border-radius: 25px;
    //background-color: #45a2e3;
  }
  .create-workbook-form-title {
    width: 300px;
    height: 40px;
    margin: 10px auto 10px auto;
  }
  .create-workbook-form-overview {
    width: 400px;
    height: 120px;
    margin: 10px auto 10px auto;
  }
}


/**** 問題集詳細(問題・答え追加)(workbook-show) ****/
.wrapper-workbook-show {
  z-index: 1;
}
.container-workbook-show, .container-workbook-index, .container-workbook-new {
  margin-top: 60px;
}
.data-name {
  padding: 5px 0;
  color: white;
  background-color: #5F6160;
}
.border-right {
  border-right: 1px solid #a6a6a6
}
.row-workbook-show {
 /* border: 1px solid black; */
}

.list-workbook-show {
  padding: 10px 10px;
  text-align: left;
  word-wrap: break-word;
}
/* 問題集の答えを非表示 */
.hidden-answer-workbook {
  visibility: hidden;
}
.show-answer-workbook {

}


/**** 問題・答え作成フォーム_question_answer_form ****/
#question-answer-form-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
}
.modal-form {
  position: absolute;
  top: 20%;
  left: 17%;
  width: 70%;
  padding-bottom: 20px;
  border: 1px solid #45a2e3;
  border-radius: 25px;
  background-color: #45a2e3;
}


.close-modal {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  padding-right: 40px;
  &:hover {
    cursor : pointer;
  }
}
.question-answer-form {
  margin: 30px 0 0 0;
  .question-form {
    resize: vertical;
    width:100%;
    height:150px;
  }
  .answer-form {
    resize: vertical;
    width:100%;
    height:150px;
  }
}

/**** スライドショー　****/
.container-workbook-slider {
  margin-top: 60px;
}
.slide {
  font-size: 30px;
  display: none;
  padding: 15px 0;
  word-wrap: break-word;
}
.active-slide {
  display: block;
}
.container-question {
  padding: 0 20px;
  border: 1px solid #0091C5;
  border-radius: 25px;
  background-color: #0091C5;
  .question {
    font-size: 20px;
    padding:10px 0 10px 0;
    color: #404040;
  }
}
.container-slide-btn {
  margin:10px 0;
  padding:0;
  .slide-btn {
    width:98%;
  }
}

.container-answer {
  padding: 0 20px;
  border: 1px solid #8ED1E0;
  border-radius: 25px;
  background-color: #8ED1E0;
  .answer {
    font-size: 20px;
    padding:10px 0 10px 0;
    color: #404040;
  }
}

.shuffle-question, .shuffle-answer {
  display: none;
}

.hidden-answer {
  display: none;
}
.slide-btn {
  margin: 20px 0;
}


/*** カレンダー ***/
.container-calendar {
  padding-top: 80px;
}



/* ★★★★　デバック表示　★★★★　*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
