/**** ミックイン ****/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizuing:border-box;
  box-sizing:       border-box;
}

/**** 基本設定　****/

body {
  margin: 0;
  padding: 0;
  background-image: url('flash_card.jpg');
  background-size: cover;
  height: 100%;
}
.wrapper-index {
  padding-top: 270px;
}
.wrapper {
  height: 100%;
}

.container-background {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 98vh;
}

/**** ヘッダー(header) ****/
header {
  z-index: 10;
}
#logo {
  float: left;
  margin-right:40px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.navright {
  font-size: 15px;
  margin-top: 5px;
  margin-left: 15px;
}

/**** フッター(footer) ****/
footer {
.footer-logo {
  color: white;
}
}


/**** トップページ(index) ****/
.row-login-signup {

  .btn-index {
    padding: 10px 50px;
    font-size: 20px;
  }
}
/**** ユーザー詳細(user-show) ****/
.container-user-show {
  padding: 80px;
}

/**** 問題集モーダル****/

#workbook-new-form-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
}
/**** 問題集詳細(問題・答え追加)(workbook-show) ****/
.wrapper-workbook-show {
  z-index: 1;
}
.container-workbook-show, .container-workbook-index, .container-workbook-new {
  margin-top: 60px;
}
.data-name {
  padding: 5px 0;
  color: white;
  background-color: #5F6160;
}
.border-right {
  border-right: 1px solid #a6a6a6
}
.row-workbook-show {
 /* border: 1px solid black; */
}

.list-workbook-show {
  padding: 10px 10px;
  text-align: left;
  word-wrap: break-word;
}

/**** 問題・答え作成フォーム_question_answer_form ****/
#question-answer-form-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 100;
}
.modal-form {
  position: absolute;
  top: 20%;
  left: 17%;
  width: 70%;
  padding-bottom: 20px;
  border: 1px solid #45a2e3;
  border-radius: 25px;
  background-color: #45a2e3;
}


.close-modal {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  &:hover {
    cursor : pointer;
  }
}
.question-answer-form {
  margin: 30px 0 0 0;
  .question-form {
    resize: vertical;
    width:100%;
    height:150px;
  }
  .answer-form {
    resize: vertical;
    width:100%;
    height:150px;
  }
}

/**** スライドショー　****/
.container-workbook-slider {
  margin-top: 60px;
}
.slide {
  font-size: 30px;
  display: none;
  padding: 15px 0;
  word-wrap: break-word;
  p {
  }
}
.active-slide {
  display: block;
}
.container-question {
  padding: 0 20px;
  border: 1px solid #0091C5;
  border-radius: 25px;
  background-color: #0091C5;
  .question {
    font-size: 20px;
    padding:10px 0 10px 0;
    color: #404040;
  }
}
.container-slide-btn {
  margin:10px 0;
  padding:0;
}


.container-answer {
  padding: 0 20px;
  border: 1px solid #8ED1E0;
  border-radius: 25px;
  background-color: #8ED1E0;
  .answer {
    font-size: 20px;
    padding:10px 0 10px 0;
    color: #404040;
  }
}
.hidden-answer {
  display: none;
}
.slide-btn {
  margin: 20px 0;
}

/* ★★★★　デバック表示　★★★★　*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
