<header>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Ankey", root_path, id: 'logo' %>

      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "link1", "#", class: "navright"%>
          </li>
          <li>
            <%= link_to "link2", "#", class: "navright" %>
          </li>
          <li>
            <%= link_to "link3", "#", class: "navright" %>
          </li>
        </ul>
      </nav>
    </div>
  </nav>

</header>
